**/__pycache__
.DS_Store
.ipynb_checkpoints/
injectorPlotter.py
accuracyTesterParticleTracer.ipynb
sampleData
.idea/
data.txt
dataCap.txt
dataLens.txt
dataLensFringe.txt
test.ipynb
combinerData.txt
combinerData2.txt
lens3D.txt
unitCell.txt
benderSeg1.txt
benderSeg2.txt
lensFringe.txt
benderFringeCap.txt
lens2D.txt