**/__pycache__
.DS_Store
.ipynb_checkpoints/
injectorPlotter.py
accuracyTesterParticleTracer.ipynb
sampleData
.idea/
data.txt
dataCap.txt
dataLens.txt
dataLensFringe.txt
test.ipynb
combinerData.txt
combinerData2.txt
lens3D.txt
unitCell.txt
benderSeg1.txt
benderSeg2.txt
lensFringe.txt
benderFringeCap1.txt
lens2D.txt
benderFringeInternal1.txt
benderFringeCap2.txt
benderFringeInternal2.txt
debug.log
test.csv
latticeConfig1_Files
latticeConfig2_Files
latticeConfig3_Files
latticeConfig4_Files
latticeConfig5_Files
logfiles
test2.py
setup.py
cythonFunc.c
cythonFunc.html
latticeConfig2.py.lprof
latticeConfig2.py.prof
helloWOrldTest.pyx
bigMagnetBigCombiner.ipynb
bigMagnetBigCombiner_1D.ipynb
BigMagnetsSmallCombiner.ipynb
output.csv
makeSwarmFile.ipynb
bigCombinerBigMagnets_Files
smallCombinerBigMagnets_Files
smallCombinerSmallMagnets_Files
bigCombinerSmallMagnets_Files
venv
paraWellTest.py
poopaids
paraWellTest.py
test.py
stabilityPlots/